<p style="color: yellow"><%= notice %></p>

<% content_for :title, "Sillychat" %>

<h5>Logged as <%= @current_user.name %></h5>

<%= button_to 'Sign Out', signout_path,  :method => :delete %>

<div style="display:flex">

  <div style="flex:1">
    <h4> Users </h4>
    <%= turbo_stream_from "users" %>
    <div id="users">
      <%= render @users %>
    </div>
  </div>

  <div style="flex:1">
    <h4>Channels</h4>
    <%= link_to "New channel", new_channel_path %>
    <hr>
    <%= turbo_stream_from "channels" %>
    <div id="channels">
      <%= render @channels %>
    </div>
  </div>

</div>
