<p style="color: yellow"><%= notice %></p>

<h1><%= @channel.name %></h1>

<div>
  <%= link_to "Edit this channel", edit_channel_path(@channel) %> |
  <%= link_to "Back to channels", channels_path %>

  <%= button_to "Destroy this channel", @channel, method: :delete %>
</div>

<%= turbo_stream_from @channel %>
<%= render "messages/messages", channel: @channel %>
